* {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', sans-serif; }

@keyframes fade-izquierda {
  from {
    opacity: 0;
    transform: translateX(500px); }
  to {
    opacity: 1; } }

@keyframes fade-derecha {
  from {
    opacity: 0;
    transform: translateX(-500px); }
  to {
    opacity: 1; } }

@keyframes fade-arriba {
  from {
    opacity: 0;
    transform: translate3d(0, -20%, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }

@keyframes rotacion {
  0% {
    transform: perspective(2500px) rotateY(-100deg); }
  25% {
    transform: perspective(2500px) rotateY(-75deg); }
  50% {
    transform: perspective(2500px) rotateY(-50deg); }
  75% {
    transform: perspective(2500px) rotateY(-25deg); }
  100% {
    transform: perspective(2500px) rotateY(0deg); } }

.h, section h1, section h2, footer h3 {
  color: #ffffff;
  text-shadow: 0.05em 0.05em 0.05em #000000; }

header {
  background-image: url(../imagenes/header.jpg);
  background-position: center;
  background-size: cover;
  padding: 50px;
  text-align: center; }
  header ul {
    padding: 0;
    margin: 0;
    font-weight: bolder; }

.navbar .container-fluid .navbar-toggler {
  background-color: #eb5008a2; }

.navbar .container-fluid .navbar-collapse .navbar-brand {
  font-size: 230%; }

.navbar .container-fluid .navbar-collapse .link {
  text-decoration: none;
  color: #000000;
  text-shadow: 2px 1px 2px #a3ec1a, 3px 2px 3px #d0f30d, 5px 4px 5px #2eeb08, -2px -1px 5px #d0f30d; }
  .navbar .container-fluid .navbar-collapse .link:hover {
    text-decoration: underline; }

section {
  background-color: #140f0f; }
  section h1 {
    font-weight: bolder;
    font-size: 150%;
    animation: fade-arriba .5s ease-in-out; }
  section h2 {
    font-size: 250%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0; }
  section a {
    text-decoration: none; }

.section {
  text-align: center; }
  .section .h1 {
    background-color: #eb5008a2; }
  .section .div-productos {
    padding-top: 10px;
    padding-right: 150px;
    padding-bottom: 20px;
    padding-left: 150px;
    display: flex;
    justify-content: space-around; }
    .section .div-productos .contenedor {
      width: 300px;
      height: 300px;
      position: relative; }
      .section .div-productos .contenedor .imagen-producto {
        width: 300px;
        height: 300px; }
      .section .div-productos .contenedor .imagen-descripcion {
        margin: auto;
        color: #fff;
        text-align: center;
        line-height: 300px;
        background: #000;
        transition: opacity .4s linear;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0; }
      .section .div-productos .contenedor:hover .imagen-descripcion {
        opacity: .75; }
    .section .div-productos .modal .modal-dialog .modal-content {
      color: #ffffff;
      background-color: #140f0f; }
      .section .div-productos .modal .modal-dialog .modal-content .modal-header .btn-close {
        background-color: whitesmoke; }
  .section .section-p {
    color: #ffffff;
    margin-bottom: 0; }
  .section .quienes-somos {
    display: grid;
    grid-template-columns: auto auto; }
    .section .quienes-somos .imagen-somos {
      padding-bottom: 5px;
      padding-left: 100px;
      animation: fade-derecha 2s ease-in; }
    .section .quienes-somos .descripcion {
      color: #ffffff;
      text-align: justify;
      padding-right: 200px;
      padding-left: 50px;
      font-size: 110%;
      animation: fade-izquierda 2s ease-in; }
  .section .section-contact {
    color: #ffffff;
    font-size: 150%;
    padding-bottom: 30px;
    padding-left: 10px;
    text-align: center;
    animation: rotacion .5s ease-in; }
    .section .section-contact .row {
      display: grid;
      grid-template-columns: auto auto;
      padding-right: 10px; }
      .section .section-contact .row .col-sm-2 {
        width: 100%; }
      .section .section-contact .row .col-sm-10 {
        width: 150%;
        padding-bottom: 5px;
        margin-right: 150px; }
      .section .section-contact .row .enviar {
        width: 100px; }

footer {
  color: #ffffff;
  background-color: #44210a;
  border-top: 25px solid #eb5008a2; }
  footer h3 {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0; }
  footer .sitio {
    margin-bottom: 0;
    padding-left: 5px; }

.footer {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px; }
  .footer .imagen-redes {
    width: 50px; }
  .footer .imagen-pagos {
    width: 30px; }
  .footer .newsletter {
    font-size: 120%; }
    .footer .newsletter .row {
      display: grid;
      grid-template-columns: auto auto;
      padding-right: 10px; }
      .footer .newsletter .row .col-sm-2 {
        width: 100%; }
      .footer .newsletter .row .col-sm-10 {
        width: 150%;
        padding-bottom: 5px;
        margin-right: 150px; }
      .footer .newsletter .row .boton {
        text-align: center; }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .section .div-productos .imagen-producto {
    width: 200px;
    height: 200px; }
  .section .quienes-somos .imagen-somos {
    padding: 0;
    height: 400px; }
  .section .quienes-somos .descripcion {
    padding-top: 5px;
    padding-right: 50px;
    padding-bottom: 5px;
    padding-left: 50px; } }

@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
  h1 {
    font-size: 100%; }
  .section .div-productos {
    display: block;
    padding-right: 20px;
    padding-left: 20px; }
    .section .div-productos .imagen-producto {
      width: 200px;
      height: 200px;
      padding-top: 10px;
      padding-bottom: 10px; }
  .section .quienes-somos .imagen-somos {
    display: none; }
  .section .quienes-somos .descripcion {
    padding-right: 10px;
    padding-left: 10px; }
  .section .section-contact {
    font-size: 120%; }
  .footer {
    display: block;
    padding-right: 20px;
    padding-left: 20px; } }

@media only screen and (max-device-width: 320px) {
  .footer .newsletter .row {
    display: block; } }
