* {
    margin: 0;
    padding: 0;
    font-family:'Helvetica Neue', sans-serif;
}
@import "root/variables.scss";
@import "root/keyframes.scss";
@import "secciones/header.scss";
@import "secciones/section.scss";
@import "secciones/footer.scss";
@import "root/mediaqueries.scss";