
@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
    h1 {
        font-size: $tamano;
    }
    .div-productos {
        display: block;
        padding: 0;
    }
    .imagen-producto {
        width: $medida*25;
        height: $medida*25;
        padding-top: $medida;
        padding-right: $medida;
        padding-bottom: $medida;
        padding-left: $medida;
    }
    .footer {
        display: block;
    }
    .imagen-somos {
        display: none;
    }
    .descripcion {
        padding-right: $medida;
        padding-left: $medida;
    }
    .formulario {
        display: grid;
        grid-template-columns: auto auto;
        padding-right: $medida*2;
        padding-bottom: $medida;
    }
    .section-contact {
        font-size: $tamano*1.2;
    }
    h1 {
        font-size: $tamano;
    }
}

@media only screen and (max-device-width: 320px) {
    .news-formulario {
        display: block;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .quienes-somos {
        display: block;
    }
    .imagen-somos {
        padding: 0;
    }
    .descripcion {
        padding-top: $medida*0.5;
        padding-right: $medida*5;
        padding-bottom: $medida*0.5;
        padding-left: $medida*5;
    }
}