@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .section {
        .div-productos {
            .imagen-producto {
                width: $medida*20;
                height: $medida*20;
            }
        }
        .quienes-somos {
            .imagen-somos {
                padding: 0;
                height: $medida*40;
            }
            .descripcion {
                padding-top: $medida*0.5;
                padding-right: $medida*5;
                padding-bottom: $medida*0.5;
                padding-left: $medida*5;
            }
        }
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
    h1 {
        font-size: $tamano;
    }
    .section {
        .div-productos {
            display: block;
            padding-right: $medida*2;
            padding-left: $medida*2;
            .imagen-producto {
                width: $medida*20;
                height: $medida*20;
                padding-top: $medida;
                padding-bottom: $medida;
            }
        }
        .quienes-somos {
            .imagen-somos {
                display: none;
            }
            .descripcion {
                padding-right: $medida;
                padding-left: $medida;
            }
        }
        .section-contact {
            font-size: $tamano*1.2;
        }
    }
    .footer {
        display: block;
        padding-right: $medida*2;
        padding-left: $medida*2;
    }
}

@media only screen and (max-device-width: 320px) {
    .footer {
        .newsletter {
            .row {
                display: block;
            }
        }
    }
}