footer {
    color: map-get($colores , texto );
    background-color: map-get($colores , footer );
    border-top: $medida*2.5 solid #eb5008a2;
    h3 {
        @extend .h;
        padding-top: $medida;
        padding-bottom: $medida;
        margin: 0;
    }
    .sitio {
        margin-bottom: 0;
        padding-left: $medida*0.5;
    }
}
.footer {
    display: flex;
    justify-content: space-around;
    padding-top: $medida;
    padding-right: $medida;
    padding-left: $medida;
    .imagen-redes {
        width: $medida*5;
    }
    .imagen-pagos {
        width: $medida*3;
    }
    .newsletter {
        font-size: $tamano*1.2;
        .row {
            @include grid-auto;
            padding-right: $medida;
            .col-sm-2 {
                @include col-sm-2;
            }
            .col-sm-10 {
                @include col-sm-10;
            }
            .boton {
                text-align: center;
            }
        }
    }
}