footer {
    background-image: url(../imagenes/footer.webp);
    background-size: cover;
    background-position: center;
    background-color: map-get($colores , header );
    h4 {
        @extend h;
        padding-top: $medida;
        margin: 0;
        color: map-get($colores , principal );
    }
    ul {
        padding: 0;
        margin: 0;
        .link {
            text-decoration: none;
            color: map-get($colores , texto2 );
            font-size: $texto-footer;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .sitio {
        padding-left: $medida*0.5;
        padding-right: $medida*0.5;
        border-top: 1px solid map-get($colores , texto2 );
        background-color: rgb(48, 39, 30);
        text-align: center;
        font-size: 13px;
        .copy {
            margin-bottom: 0;
            color: map-get($colores, texto2 );
            padding-top: $medida / 2 ;
            padding-bottom: $medida / 2;
        }
    }
}
.footer {
    padding-right: $medida;
    padding-left: $medida;
    display: grid;
    justify-content: space-around;
    grid-template-areas: "navegacion pago news";
    grid-template-columns: min-content auto auto;   
    .redes {
        padding-top: $medida*2;
        .imagen-redes {
            width: $medida*4;
        }
        .imagen-pagos {
            width: $medida*4.5;
            margin: 3px;
        }
    }
    .navegacion {
        grid-area: navegacion;
    }
    .pago {
        grid-area: pago;
    }
    .news {
        grid-area: news;
        .box-newsletter {
            padding-top: $medida*2;
            padding-bottom: $medida*2;
            .newsletter {
                font-size: $texto-footer;
                text-align: left;
                .row {
                    padding-right: $medida;
                    .col-sm-2 {
                        @include col-sm-2;
                    }
                    .col-sm-10 {
                        @include col-sm-10;
                        width: auto;
                        margin-right: 0;
                        display: grid;
                        grid-template-columns: auto min-content;
                        .input {
                            padding-right: $medida;
                            .form-control {
                                border-radius: 0;
                                padding: 3px 5px;
                                font-size: $texto-footer;
                            }
                        }
                        .suscribirse {
                            background-color: map-get($colores , secundario );
                            color: map-get($colores , texto2 );
                        }
                    }
                }
            }
        }
    }
}