footer {
    color: map-get($colores , texto );
    background-image: url(../imagenes/footer.jpg);
    background-size: cover;
    background-position: center;
    h3 {
        @extend h;
        padding-top: $medida;
        margin: 0;
        color: map-get($colores , principal )
    }
    .sitio {
        padding-left: $medida*0.5;
        padding-right: $medida*0.5;
        border-top: 1px solid map-get($colores , texto2 );
        background-color: rgb(48, 39, 30);
        text-align: center;
        font-size: 13px;
        .copy {
            margin-bottom: 0;
            color: map-get($colores, texto2 );
            padding-top: $medida / 2 ;
            padding-bottom: $medida / 2;
        }
    }
}
.footer {
    display: flex;
    justify-content: space-around;
    padding-top: $medida;
    padding-right: $medida;
    padding-left: $medida;
    .redes {
        padding-bottom: $medida*2;   
        .imagen-redes {
            width: $medida*5;
        }
        .imagen-pagos {
            width: $medida*3;
        }
    }
    .newsletter {
        font-size: $texto-footer;
        color: map-get($colores , texto2 );
        .row {
            @include grid-auto;
            padding-right: $medida;
            .col-sm-2 {
                @include col-sm-2;
            }
            .col-sm-10 {
                @include col-sm-10;
            }
            .boton {
                text-align: center;
            }
        }
    }
}