footer {
    color: #ffffff;
    background-color: #44210a;
    border-top: $medida*2.5 solid #eb5008a2;
    h3 {
        padding-top: $medida;
        padding-bottom: $medida;
        margin: 0;
    }
    .sitio {
        margin-bottom: 0;
        padding-left: $medida*0.5;
    }
}
.footer {
    display: flex;
    justify-content: space-around;
    padding-top: $medida;
    padding-right: $medida;
    padding-left: $medida;
    .imagen-redes {
        width: $medida*5;
    }
    .imagen-pagos {
        width: $medida*3;
    }
    .newsletter {
        font-size: $tamano*1.2;
        .row {
            display: grid;
            grid-template-columns: auto auto;
            padding-right: $medida;
            .col-sm-2 {
                width: $tamano;
            }
            .col-sm-10 {
                width: $tamano*1.5;
                padding-bottom: $medida*0.5;
                margin-right: $medida*15;
            }
            .boton {
                text-align: center;
            }
        }
    }
}