header {
    background-image: url(../imagenes/header.jpg);
    background-position: center;
    background-size: cover;
    padding: $medida*2;
    text-align: center;
    ul {
        padding: 0;
        margin: 0;
        font-weight:bolder;
    }
}
.navbar {
    .container-fluid {
        .navbar-toggler {
            background-color: #eb5008a2;
        }
        .navbar-collapse {
            .navbar-brand {
                font-size: $tamano*2.5 ;
                }
            .link {
                text-decoration: none;
                color: #000000;
                text-shadow: 2px 1px 2px #a3ec1a, 3px 2px 3px #d0f30d, 5px 4px 5px #2eeb08, -2px -1px 5px #d0f30d;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
