section {
    background-color: #140f0f;
    h1 {
        font-weight:bolder;
        font-size: $tamano*1.5;
        color: $color-texto;
        text-shadow: 0.05em 0.05em 0.05em #000000;
        animation: fade-arriba .5s ease-in-out;
    }
    h2 {
        color: #eb4f08;
        font-size: $tamano*2.5;
        text-shadow: 0.05em 0.05em 0.05em $color-texto;
        padding-top: $medida*2;
        padding-bottom: $medida*2;
        margin-bottom: 0;
    }
    a {
        text-decoration: none;
    }
}
.section {
    text-align: center;
    .h1 {
        background-color: #eb5008a2;
    }
    .div-productos {
        padding-top: $medida;
        padding-right: $medida*15;
        padding-bottom: $medida*2;
        padding-left: $medida*15;
        display: flex;
        justify-content: space-around;
        .imagen-producto {
            transition: 1s;
            &:hover {
                transform: scale(1.2);
            }
        }
    }
    .section-p {
        color: $color-texto;
        margin-bottom: 0;
    }
    .quienes-somos {
        display: grid;
        grid-template-columns: auto auto;
        .imagen-somos {
            padding-bottom: $medida*0.5;
            padding-left: $medida*10;
            animation: fade-derecha 2s ease-in;
        }
        .descripcion {
            color: $color-texto;
            text-align: justify;
            padding-right: $medida*20; 
            padding-left: $medida*5;
            font-size: $tamano*1.1;
            animation: fade-izquierda 2s ease-in;
        }
    }
    .section-contact {
        color: $color-texto;
        font-size: $tamano*1.5;
        padding-bottom: $medida*3;
        padding-left: $medida;
        text-align: center;  
        animation: rotacion .5s ease-in;
        .row {
            display: grid;
            grid-template-columns: auto auto;
            padding-right: $medida;
            .col-sm-2 {
                width: $tamano;
            }
            .col-sm-10 {
                width: $tamano*1.5;
                padding-bottom: $medida*0.5;
                margin-right: $medida*15;
            }
            .enviar {
                width: $medida*10;
            }
        }
    }
}