section {
    background-image: url(../imagenes/section.webp);
    padding-bottom: $medida*5;
    h1 {
        @extend h;
        animation: fade-arriba .7s ease-in-out;
        margin: 0;
    }
    h2 {
        @extend h;
        padding-top: $medida*5;
        padding-bottom: $medida*2;
        margin: 0;
        text-decoration: underline;
    }
    h3 {
        padding-top: 10px;
    }
    a {
        text-decoration: none;
    }
    p {
        margin: 0;
        padding-bottom: 1rem;
    }
}
.section {
    text-align: center;
    .logo {
        height: 150px;
        width: 150px;
    }
    .div-productos {
        padding-top: $medida;
        padding-bottom: $medida*2;
        display: flex;
        justify-content: space-around;
        .contenedor {     
            width: $medida*30;
            height: $medida*30;
            position: relative;
            .imagen-producto {
                width: $medida*30;
                height: $medida*30;
            }
            .imagen-descripcion {
                color: map-get($colores , texto2 );
                background-color: map-get($colores, header );
                margin: auto;  
                text-align: center;
                line-height: 100px; 
                transition: opacity .4s linear;
                cursor: pointer;  
                position: absolute;
                top: 200px;
                right: 0;
                bottom: 0;
                left: 0;
                opacity: 0;
                font-size: 25px;
                }
            &:hover {
                .imagen-descripcion {
                    opacity: 0.9;
                    width: 300px;
                    height: 100px;
                    bottom: 0;
                }
            }
        }
        .modal {
            .modal-dialog {
                .modal-content {
                    color: map-get($colores , texto2 );
                    background-color: map-get($colores , header );
                    .modal-header {
                        .btn-close {
                            background-color: map-get($colores , texto2 );
                        }
                    }
                    .modal-body {
                        font-size: $texto-footer;
                        .imagen-modal {
                            width: $medida*30;
                            height: $medida*30;
                            margin-bottom: 1rem;
                        }
                    }
                }
            }
        }
        .boton {
            .boton-agregar {
                background-color: map-get($colores , secundario );
                color: map-get($colores , texto2 );
                font-weight: bolder;
            }
        }
        .asdd{
            display: none;
        }
    }
    .section-p {
        color: map-get($colores , texto );
        margin-bottom: 0;
        font-size: 18px;
        padding-top: 30px;
    }
    .quienes-somos {
        @include grid-auto;
        padding-top: $medida;
        .imagen-somos {
            width: 612px;
            height: 408px;
            padding-left: $medida*10;
            animation: fade-derecha 2s ease-in;
            padding-bottom: $medida*3;
        }
        .descripcion {
            color: map-get($colores , texto );
            text-align: left;
            padding-right: $medida*10; 
            padding-left: $medida*5;
            font-size: $texto;
            animation: fade-izquierda 2s ease-in;
            background-color: rgba(245, 245, 245, 0.644);
        }
    }
    .section-contact {
        color: map-get($colores , texto );
        font-size: 20px;
        padding-bottom: $medida*3;
        padding-left: $medida;
        text-align: center;  
        animation: rotacion .5s ease-in;
        .row {
            @include grid-auto;
            padding-right: $medida;
            margin-right: 0;
            .col-sm-2 {
                @include col-sm-2;
            }
            .col-sm-10 {
                @include col-sm-10;
            }
            .enviar {
                width: $medida*10;
            }
        }
    }
}